body{
  margin:0;
  font-family:Segoe UI,sans-serif;
  color:white;
}

.hero{
  height:100vh;
  background:url('fondo.jpg') center/cover fixed;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.music{
  padding:40px;
  background:transparent;
  backdrop-filter: blur(6px);
}

.genre{ margin-bottom:30px; }

.track{
  padding:12px;
  margin:6px 0;
  background:rgba(0,0,0,0.25);
  border-radius:14px;
  cursor:pointer;
  transition:0.3s;
}

.track:hover{ background:rgba(255,255,255,0.2); }

.player{
  position:fixed;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px;
}

.bars span{
  display:inline-block;
  width:4px;
  height:10px;
  margin-right:2px;
  background:#0ff;
  animation: bounce 1s infinite ease-in-out;
}

.bars span:nth-child(2){animation-delay:.1s}
.bars span:nth-child(3){animation-delay:.2s}
.bars span:nth-child(4){animation-delay:.3s}
.bars span:nth-child(5){animation-delay:.4s}

@keyframes bounce{
  0%,100%{height:5px}
  50%{height:20px}
}

#progress{ flex:1; }
